* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.errorMessage {
  color: tomato;
}
.überschrift {
  margin-top: 2rem;
  margin-bottom: 3rem;
  text-decoration: double underline;
  color: blue;
}
body {
  background-color: #333;
  color: #ccc;
  font-family: sans-serif;
  padding: 2rem;

  h1 {
    color: blue;
    margin-bottom: 0.5rem;
    font-size: 3rem;
  }

  .dropbtn{
    display: inline-block;
  color: #87cefa;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1.3rem;
  }

  .dropdown-content {
  display: none;
  position: absolute;
  background-color: azure;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  }

  .dropdown-content a {
  color: blue;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}

  nav {
    margin-bottom: 2rem;
    background-color: #444;
    padding: 0.5rem;

    ul {
      display: flex;
      list-style-type: none;
      gap: 1rem;

      li {
        a {
          color: azure;
          text-decoration: none;

          &.active {
            color: #87cefa;
          }
        }
      }
    }
  }

  main {
    font-size: 1.2rem;

    .page404 {
      .message404 {
        width: 26rem;
        padding: 1rem;
        display: flex;
        align-items: center;
        flex-direction: column;
        color: #444;
        margin-top: -2rem;

        .numberArea {
          font-size: 15rem;
          margin-bottom: -1rem;
        }

        .message {
          font-size: 2rem;
        }
      }
    }

    .PageKampf {
      select,
      label,
      .btnProcess {
        color: #87cefa;
        font-size: 1.2rem;
      }
      select,
      .btnProcess {
        background-color: #111;
      }
      section {
        display: flex;
        gap: 10rem;
        margin-top: 2rem;
        .card {
          background-color: #111;
          padding: 1rem;
          color: #87cefa;
          width: 15vw;
          text-align: center;
        }
      }
    }
    .PageHandel {
      color: #87cefa;
      h3 {
        text-decoration: underline;
        margin-bottom: 1.3rem;
        margin-top: 5rem;
      }
      table {
        width: 50vw;
        text-align: center;
        border-spacing: 0.5rem;
        
        thead {
          text-decoration: underline;
          font-weight: bold;
          font-size: 1.5rem;
          color: blue;
          background-color: #111;
        }
        tr:nth-child(even) {
          background-color: #444;
        }
      }
      form {
        margin-bottom: 1.3rem;
        font-size: 1.2rem;
        input, .btnProcess {
          background-color: #111;
          color: #87cefa;
          text-align: center;
          font-size: 1.2rem;
        }
      }
      #tage, #bewohneranzahl {
        width: 15vw;
        & :focus {
          background-color: #111;
          color: #87cefa;
        }
      }
    }
  }
}
